.login__wrapper{
    display:grid;
    position: relative;
    margin: 0 auto;
    width: 80%;
    background: rgb(237, 255, 239);
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: 0 0 10px rgb(102, 101, 101);
    font-family: cursive;
    input{
        border-radius: 10px;
        outline: none;
        border: solid 1px white;
        margin: 5px;
        padding: 5px 0 5px 10px ;
        &:focus{
            box-shadow: 0 0 10px rgb(135, 135, 135);
        }
    }
    button{
        width:100%;
        border: none;
        border-radius: 10px;
        margin: 20px 0;
        padding: 5px 0;
        background: rgb(0, 255, 187);
        outline: none;
        cursor: pointer;
    }
}