.login__form{
    display:grid;
    border-radius: 10px;
    padding: 20px;
    background: rgb(121, 253, 251);
    box-shadow: 0 0 10px rgb(102, 101, 101);
    h2{
        justify-self: center;
        margin: 0;
    }
}